# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias --="cd -"

# Shortcuts
alias docs="cd ~/Documents"
alias desk="cd ~/Documents/Desktop"
alias dl="cd ~/Documents/Downloads"
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/Documents/Projects"

# useful shortcuts
alias h="history"
alias f="findhere"
alias md5="md5sum"
alias open="cygstart"

# cd replacement to show cd history with cd --
alias cd="__cd_func"

# Specialized directory listings
alias la="ls -lA --color=auto" 2> /dev/null
alias ll="ls -l --color=auto" 2> /dev/null
alias l.="ls -d .* --color=auto" 2> /dev/null
alias ls="ls --color=auto" 2> /dev/null
alias lf="ls -l --color=auto | grep '^d'" 2> /dev/null

alias dir="ls --color=auto --format=vertical"
alias vdir="ls --color=auto --format=long"

# Interactive rm, cp, and mv
alias rm="rm -i"
alias cp="cp -i"
alias mv="mv -i"

# Colorize grep matches
alias grep="grep --color=auto"

# allow which command to expand
alias which="alias | /usr/bin/which --tty-only --read-alias --show-dot --show-tilde"

# Ability to kill windows applications
alias kill="/bin/kill.exe -f"

# List windows applications with ps
alias ps="ps -W"

# shortcuts to custom xargs pipes and process commands
alias els="execlist"
alias efind="execfind"
alias ecat="execcat"
alias psf="psfind"

# Alias vi to notepad++
alias vi="nppedit"

# Alias apt-cyg to yum
alias yum="apt-cyg"

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Shortcuts to the clipboard
alias wcopy="putclip"
alias wpaste="getclip"

# Networking shortcuts
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"
alias ips="ipconfig | grep 'IPv4 Address' | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
