[gui]
	fontdiff = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[user]
	name =
	email =
[github]
	# To get the token: curl -i https://api.github.com/authorizations -u "GITHUB_USERNAME_HERE" -d '{"scopes":"repo","note":"GITHUB_TOKEN_NAME"}'
	apitoken =
[color]
	ui = auto
[advice]
	pushNonFastForward = false
	statusHints = false
[core]
	whitespace = trailing-space,space-before-tab
	autocrlf = input
	filemode = false
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetupmerge = true
[push]
	default = tracking
[rerere]
	enabled = true
[diff]
[merge]
	stat = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[help]
	autocorrect = 1
[alias]
	### Basic shortcuts
	st = status
	br = branch
	co = checkout
	df = diff
	lg = log -p
	cp = cherry-pick
	ss = stash
	sl = stash list
	sa = stash apply

	### Committing
	# Commit
	ci = commit
	# Commit w/ message
	cim = commit -m
	# Amend commit
	cia = commit --amend
	# Amend commit w/message
	ciam = commit --amend -m
	# Add changed files and then commit w/message
	cam = commit -a -m
	# Commit and add files
	ca = commit -a
	# These are the same as cam, ca and squish, except it adds new files as well
	acam = !git add -A && git commit -m
	aca = !git add -A && git commit
	asquish = !git add -A && git commit --amend -C HEAD
	# Adds all changed files into the last commit
	squish = commit -a --amend -C HEAD
	# Adds only staged files into the last commit
	squeeze = commit --amend -C HEAD
	# Amends last commit using the same commit message
	amend = !"git log -n 1 --pretty=tformat:%s | git commit -F - --amend"

	### Checkout / Branching
	# go to master branch
	com = checkout master
	# Checkout last branch
	col = checkout -
	# Switch to a branch, creating it if necessary
	go = checkout -B
	# Get the current branch name
	brn = "!git branch "$@" | grep '^*' | sed 's/^* //' && true"
	# Update current branch from origin
	ubo = !"git pull origin $(git brn) && true"

	### Rebase
	rb = rebase
	# Abort rebase
	rba = rebase --abort
	# Continue rebase
	rbc = rebase --continue
	# Skip patch
	rbs = rebase --skip
	# Rebase interactively
	rbi = rebase -i
	# rebase with master branch
	rbm = rebase master
	# rebase with master branch
	rbim = rebase -i master

	### Resetting
	# resets the file to clean copy
	undo = checkout --
	# remove files from index (tracking)
	unstage = reset HEAD
	# go back before last commit, with files in uncommitted state
	uncommit = reset --soft HEAD^

	### Logging
	# View the SHA, description, and history graph of the latest commits
	l = log --pretty=oneline --graph --decorate --all
	# show tree view of the git log
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

	### Diffing
	# Open the difftool for all files that are currently modified
	diffall = !"git diff --name-only "$@" | while read filename; do git difftool "$@" --no-prompt "$filename" & done && true"

	### Pushing
	# Undo a `git push`
	undopush = push -f origin HEAD^:master

	### Syncing
	# Go to master and pull in origin master
	pm = !"git checkout master && git pull origin master && true"
	# Pull in remote changes for the current repository and all its submodules
	p = !"git pull; git submodule foreach git pull origin master && true"
	# Push the current branch to origin with the same branch name
	pob = !"git push "$@" origin $(git brn) && true"

	### Misc
	# Merge and squash commits from remote branches
	pulley = !"git checkout master && git checkout -b "$3" && git pull "$1" "$2" && git checkout master && git merge --no-commit --squash "$3" && git commit -a && git branch -D "$3""
	# searches for all detached commits
	lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}' && true"
	# Adds a file to be ignored
	ignore = !"echo "$1" >> .gitignore && true"

	########### GITHUB based aliases
	# Go to the master branch then sync local and origin with [upstream|origin]
	sync = !"git checkout master && git pull $(R="$(git remote -v | grep '^upstream\\>')"; if [ $? -eq 0  ]; then echo 'upstream'; else echo 'origin'; fi) master && git submodule update && git push origin master && true"
	# Pushes current branch to origin and then issues a pull request to upstream
	pr = hub-pull-request
	# Gets the github url for current repo
	hub = !"echo "https://github.com/"$(git config remote.origin.url) | sed -E s/[a-z]+@github\\.com:// | sed s/\\.git$// && true"
	# Gets the url to github of the current commit
	url = !"sh -c 'HEAD=$(git rev-parse HEAD) && SHA1=$([ "$0" = "sh" ] && echo $HEAD || echo $0) && echo $(git hub)"/commit/"${SHA1}' && true"

########### Environment based settings
[core]
	editor = nppedit
[diff]
	tool = araxis
[merge]
	tool = araxis
[difftool "araxis"]
	cmd = compare /2 /wait $LOCAL $REMOTE
[mergetool "araxis"]
	cmd = compare /3 /a2 /wait $REMOTE $BASE $LOCAL $MERGED
