# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# Don’t prompt unless there are over 500 possible completions
set completion-query-items 200

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# blinks the matching parens on line input
set blink-matching-paren on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

# Use Crtl + V to paste from clipboard
"\C-v": paste-from-clipboard

# vt
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[3~": delete-char
"\e[2~": quoted-insert

# rxvt
"\e[7~": beginning-of-line      
"\e[8~": end-of-line           

# xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# kvt
"\e[H": beginning-of-line
"\e[F": end-of-line
