# Shortcuts
alias docs="cd ~/Documents"
alias desk="cd ~/Documents/Desktop"
alias dl="cd ~/Documents/Downloads"
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/Documents/Projects"

# Shortcuts

# useful shortcuts
alias open="cygstart"
alias md5="md5sum"

# Ability to kill windows applications
alias kill="/bin/kill.exe -f"

# List windows applications with ps
alias ps="ps -W"

# shortcuts to custom xargs pipes and process commands
alias psf="psfind"

# Alias vi to notepad++
if type nppedit &> /dev/null; then
	alias vi="nppedit"
fi

# Alias apt-cyg to yum
alias yum="apt-cyg"

# Shortcuts to the clipboard
alias wcopy="putclip"
alias wpaste="getclip"

# Networking shortcuts
alias ips="ipconfig | grep 'IPv4 Address' | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
