# Shortcuts to the clipboard
alias wcopy="xclip --in"
alias wpaste="xclip --out"

# Shortcuts

# Specialized directory listings
alias la="ls -lAG" 2> /dev/null
alias ll="ls -lG" 2> /dev/null
alias l.="ls -d .* -G" 2> /dev/null
alias ls="ls -G" 2> /dev/null
alias lf="ls -lG | grep '^d'" 2> /dev/null
